@model FoosBall.Models.Match
@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Save Match Result";
}
@*
@using (Html.BeginForm("SaveMatchResult", "Match", FormMethod.Post))
{   <input type="hidden" name="match-id" value="@Model.Id"/>
    <fieldset>
        <legend>Match Result</legend>
        <div id="validation-message"></div>
        <div class="form-input" id="fighting-team-red">
            @Html.LabelFor(m => Model.TeamRedScore, @Model.TeamRed.Name + " (Red Teams) Score: ")
            @Html.TextBox("team-red-score", null, new {placeholder = "Red Teams final score"}) 
        </div>    
        
        <div class="form-input" id="fighting-team-red">
            @Html.LabelFor(m => Model.TeamBlueScore, @Model.TeamBlue.Name + " (Blue Teams) Score: ")
            @Html.TextBox("team-blue-score", null, new {placeholder = "Blue Teams final score"})    
        </div>    
    
        <div class="form-button">
            <input type="submit" value="Submit score" class="submit-button" id="submit-score-button"/>
        </div>
        
        <div class="form-button">
            @Html.ActionLink("<< Go back","Index")
        </div>
    </fieldset>
}
  *@      