@model FoosBall.Models.Match
@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Save Match Result";
}

@using (Html.BeginForm("SaveMatchResult", "Match", FormMethod.Post))
{   <input type="hidden" name="match-id" value="@Model.Id"/>
    <fieldset>
        <legend>Match Result</legend>
        <div id="validation-message"></div>

        <div class="form-input" id="fighting-team-red">
            @Html.LabelFor(m => Model.RedScore, "Red team")
            <br/>
            @Html.TextBox("team-red-score", null, new {@class = "team-score", placeholder = "0"}) 
            <br/>
            <input id="team-red-score-slider" class="score-slider" type="range" min="0" max="10" step="1" autocomplete="off" value="0">
        </div>    
        
        <div class="form-input" id="fighting-team-blue">
            @Html.LabelFor(m => Model.RedScore, "Blue team")
            <br/>
            @Html.TextBox("team-blue-score", null, new {@class = "team-score", placeholder = "0"}) 
            <br/>
            <input id="team-blue-score-slider" class="score-slider" type="range" min="0" max="10" step="1" autocomplete="off" value="0">
        </div>    
    
        <div class="form-button">
            <input type="submit" value="Submit score" class="submit-button" id="submit-score-button"/>
        </div>
        
        <div class="form-button">
            @Html.ActionLink("<< Go back","Index")
        </div>
    </fieldset>
}