@model FoosBall.Models.Match
@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Save Match Result";
}
@section Javascript{ <script async src="/Scripts/Match.js"></script> }

@using (Html.BeginForm("SaveMatchResult", "Match", FormMethod.Post))
{   <input type="hidden" name="match-id" value="@Model.Id"/>
    <fieldset>
        <legend>Match Result</legend>
        <div class="validation-message"></div>

        <div id="team-titles">
            <div id="team-red-players" class="team">
                @Html.LabelFor(m => Model.RedScore, "Red team")
                <br/>
                @Model.RedPlayer1.Name
                @if (!Model.RedPlayer2.Name.IsEmpty()) 
                {
                    <text>&</text> @Model.RedPlayer2.Name
                }
            </div>
            <div id="team-blue-players" class="team">
                @Html.LabelFor(m => Model.RedScore, "Blue team")
                <br/>
                @Model.BluePlayer1.Name
                @if (!Model.BluePlayer2.Name.IsEmpty()) 
                {
                    <text>&</text> @Model.BluePlayer2.Name
                }
            </div>
        </div>
        
        <div id="team-results">
            <div class="form-input opponent" id="fighting-team-red">
                @Html.TextBox("team-red-score", "0", new {@class = "team-score", placeholder = "0"}) 
                <br/>
                <input id="team-red-score-slider" class="score-slider" type="range" min="0" max="10" step="1" autocomplete="off" value="0">
            </div>
            <div class="form-input opponent" id="fighting-team-blue">
                @Html.TextBox("team-blue-score", "0", new {@class = "team-score", placeholder = "0"}) 
                <br/>
                <input id="team-blue-score-slider" class="score-slider" type="range" min="0" max="10" step="1" autocomplete="off" value="0">
            </div>
        </div>
    
        <div class="form-button">
            <input type="submit" value="Submit score" class="submit-button button" id="submit-score-button"/>
        </div>
        
        <div class="form-button">
            @Html.ActionLink("<< Go back","Index",null,new{@id="back-to-match"})
        </div>
    </fieldset>
}

@section Footer
{
    <span class="footer-tip">Was your final score higher than 10 points? You can change it by touching the score box.</span>
}
