@model List<FoosBall.Models.Match>
@{
    ViewBag.Title = "MigrateToHistory";
}

<h2>MigrateToHistory</h2>

@foreach( var match in Model)
{
    if (match.RedPlayer1.Id != null)  {<text>@match.RedPlayer1.Name - @match.RedPlayer1.Rating.ToString("F2")  </text><br/>}
    if (match.RedPlayer2.Id != null)  {<text>@match.RedPlayer2.Name - @match.RedPlayer2.Rating.ToString("F2")  </text><br/>}
    if (match.BluePlayer1.Id != null) {<text>@match.BluePlayer1.Name - @match.BluePlayer1.Rating.ToString("F2")</text><br/>}
    if (match.BluePlayer2.Id != null) {<text>@match.BluePlayer2.Name - @match.BluePlayer2.Rating.ToString("F2")</text><br/>}
    
}