@using FoosBall.Models
@using FoosBall.Main
@model PlayerViewModel
@{
    ViewBag.Title = "FoosBall Players";
    var currentUser = (Player)HttpContext.Current.Session["User"];
}
@section Javascript{ <script async src="/Scripts/Players.js"></script> }
@section Css{ <link rel="stylesheet" href="/Content/Players.css"/>}

<h3>Scoreboard</h3>
@if (Model.Players.Any())
{
    var index = 1;
    foreach (var player in Model.Players)
    {
        <div id="@player.Id" class="player clearfix">
            <div class="ranking" title="Players ranking">@index</div>
            <div class="rating" title="Rating: @player.Rating.ToString("F")">
                Rating: @player.Rating.ToString("F0")
            </div>
            <div class="department">(@player.Department)</div>
            <div class="legend" title="Won: @player.Won: , Lost: @player.Lost, Played: @player.Played">Won&nbsp;&nbsp;|&nbsp;Lost&nbsp;|&nbsp;Played</div>
            <div class="avatar">
                <img class="gravatar" alt="Gravatar picture" src="@Md5.GetGravatarEmailHash(player.Email + "@trustpilot.com")"/>
            </div>
            <div class="name ellipsis-1" title="Nickname: @player.NickName">@player.Name <span class="nickname">(@player.NickName)</span></div>
            <div class="won-lost-played" title="Won: @player.Won: , Lost: @player.Lost, Played: @player.Played">@player.Won | @player.Lost | @player.Played</div>
        </div>

        index++;
    }
} else
{
    <text>- none - </text>
}