@model PlayersViewModel
@{
    ViewBag.Title = "Scoreboard";
}

@section Javascript
{ 
    <script src="@Url.Content("~/Javascript/angular/players.controllers.js")"></script> 
}

<div ng-controller="PlayersController">
    
    <div ng-repeat="player in players" id="{{player.Id}}" class="player clearfix">
        <div class="avatar">
            <a href="/Stats/Player?playerId={{player.Id}}">
                <img class="gravatar" title="Players ranking: {{player.Ranking}}" ng-src="{{player.GravatarUrl}}" />
            </a>
        </div>
        <div class="info">
            <div class="name ellipsis-1"><a href="/Stats/Player?playerId={{player.Id}}">{{player.Name}}</a></div>
            <div title="Elo rating: {{player.Rating}}" class="score">{{player.Rating1}}<sup>points</sup></div>
            <div title="Winning ratio: {{player.Ratio2}}" class="ratio">{{player.Ratio1}}<sup>ratio</sup></div>
        </div>
    </div>

</div>

    @*
    @if (Model.AllPlayers.Any()) 
    {
        var index = 1;
        foreach (var player in Model.AllPlayers)
        {
            <div id="@player.Id" class="player clearfix">
                <div class="avatar">
                    <a href="@Url.Action("Player","Stats", new {playerId = @player.Id })"><img class="gravatar" title="Players ranking: @index." src="@Html.GetGravatarEmailHash(player.Email)?d=mm"/></a>
                </div>
                <div class="info">
                    <div class="name ellipsis-1"><a href="@Url.Action("Player","Stats", new {playerId = @player.Id })">@player.Name</a></div>
                    <div title="Elo rating: @player.Rating.ToString("F2")" class="score">@player.Rating.ToString("F0")<sup>points</sup></div>
                    <div title="Winning ratio: @player.Ratio.ToString("F4")" class="ratio">@player.Ratio.ToString("F2")<sup>ratio</sup></div>
                </div>
            </div>

            index++;
        }
    } else
    {
        <text>- nope! none here... look they are not here</text>
    }*@
