@using FoosBall.Models
@model PlayerViewModel
@{
    ViewBag.Title = "FoosBall Players";
    var currentUser = (Player)HttpContext.Current.Session["User"];
}
@section Javascript{ <script async src="/Scripts/Players.js"></script> }
@section Css{ <link rel="stylesheet" href="/Content/Players.css"/>}

<fieldset id="list-of-players">
    <legend>List of FoosBall players</legend>

    @if (Model.Players.Any())
    {
        foreach (var player in Model.Players)
        {
            <div id="@player.Id" class="player clearfix">
                <div class="name ellipsis-1" title="Nickname: @player.NickName">@player.Name <span class="nickname">(@player.NickName)</span></div>
                <div class="department">(@player.Department)</div>
                <div class="legend" title="Won: @player.Won: , Lost: @player.Lost, Played: @player.Played">Won|Lost|Played</div>
                <div class="rating" title="Rating: @player.Rating.ToString("F")">
                    Rating: @player.Rating.ToString("F0")
                </div>
                <div class="won-lost-played" title="Won: @player.Won: , Lost: @player.Lost, Played: @player.Played">@player.Won | @player.Lost | @player.Played</div>
                @if (currentUser != null && currentUser.Id == player.Id)
                {
                    <span id="edit-player" class="editor-icon" title="Edit player">
                        <a href="Players/Edit/@player.Id"><img src="/Content/images/edit_32x32.png" alt="Edit icon"/></a>
                    </span>
                }
            </div>
        }
    } else
    {
        <text>- none - </text>
    }
</fieldset>