@model PlayersViewModel
@{
    ViewBag.Title = "Scoreboard";
}
@section Javascript{ <script async src="@Url.Content("~/Javascript/Players.js")"></script> }
@section Css{ <link rel="stylesheet" href="/Css/Players.css"/>}

@if (Model.AllPlayers.Any()) 
{
    var index = 1;
    foreach (var player in Model.AllPlayers)
    {
        <div id="@player.Id" class="player clearfix">
            <div class="ranking" title="Players ranking">
                @index.
            </div>
            <div class="avatar">
                <a href="@Url.Action("Player","Stats", new {playerId = @player.Id })"><img class="gravatar" alt="Gravatar picture" src="@Html.GetGravatarEmailHash(player.Email)?d=mm"/></a>
            </div>
            <div class="name ellipsis-1">
                <a href="@Url.Action("Player","Stats", new {playerId = @player.Id })">@player.Name</a>
                <br>
                <span title="Elo rating: @player.Rating.ToString("F2")">@player.Rating.ToString("F0")<sup>points</sup></span>|
                <span title="Winning ratio: @player.Ratio.ToString("F4")" class="ratio">@player.Ratio.ToString("F2")<sup>ratio</sup></span>
            </div>
        </div>

        index++;
    }
} else
{
    <text>- nope! noone here ... - </text>
}