@using System.Web.Mvc.Html
@using FoosBall.Models
@model FoosBall.Models.PlayerModel
@{
    ViewBag.Title = "FoosBall Players";
}
@section Javascript{ <script async src="/Scripts/Players.js"></script> }

<fieldset id="list-of-players">
    <legend>List of FoosBall players</legend>

    @if (Model.Players.Any())
    {
        foreach (var player in Model.Players)
        {
            <div id="@player.Id" class="player clearfix">
                <span class="name">@player.Name</span>
                @{
                    if (!@player.Department.IsEmpty())
                    {
                        <span class="department">(@player.Department)</span>
                    }
                }
                <span class="legend" title="Won: @player.Won: , Lost: @player.Lost, Played: @player.Played">Won|Lost|Played</span>
                <span class="rating" title="Rating: @player.Rating.ToString("F")">@player.Rating.ToString("F0")</span>
                <span class="won-lost-played" title="Won: @player.Won: , Lost: @player.Lost, Played: @player.Played">@player.Won | @player.Lost | @player.Played</span>
                @if (Request.IsAuthenticated && User.Identity.Name == "admin")
                {
                    <span id="edit-player" class="editor-icon"><a href="Players/Edit/@player.Id"><img src="Content/images/edit_32x32.png"/></a></span>
                    <span id="delete-player" class="editor-icon"><a href="Players/Delete/@player.Id"><img src="Content/images/delete_32x32.png"/></a></span>
                }
            </div>
        }
    } else
    {
        <text>- none - </text>
    }
</fieldset>