@using StackExchange.Profiling
<!DOCTYPE html>
<html ng-app="FoosBall">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" href="https://s3-eu-west-1.amazonaws.com/images.trustpilot.com/static/foosball/favicon.ico" type="image/x-icon" />

    <title>
        @if (ViewBag.Settings.Environment.ToString() != "Production")
        {
            @ViewBag.Settings.Environment.ToString()
        }
        @ViewBag.Title
    </title>

    <link href="@Url.Content("~/Css/Base.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Css", false)
    
    <script src="@Url.Content("~/Javascript/lib/md5.js")"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>
        if (typeof jQuery == 'undefined') {
            document.write(unescape('%3Cscript src="@Url.Content("~/Javascript/lib/jquery.min.js")" type="text/javascript"%3E%3C/script%3E'));
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script>
        if (typeof angular === 'undefined') {
            document.write(unescape('%3Cscript src="@Url.Content("~/Javascript/lib/angular.min.js")" type="text/javascript"%3E%3C/script%3E'));
            document.write(unescape('%3Cscript src="@Url.Content("~/Javascript/lib/angular-resource.min.js")" type="text/javascript"%3E%3C/script%3E'));
            document.write(unescape('%3Cscript src="@Url.Content("~/Javascript/lib/angular-route.min.js")" type="text/javascript"%3E%3C/script%3E'));
        }
    </script>
    <script src="@Url.Content("~/Javascript/angular/app.js")"></script>
    <!-- Feedback plugin -->
    <script type="text/javascript">
        if (!!window.innerWidth === true && window.innerWidth > 930) {
            var uvOptions = {};
            (function () {
                var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
                uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/RphctqQQTB1Xn7A577qeA.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
            })();
        }
    </script>

</head>
<body>
    
    <div id="request-notification">
        Try the new Foosball Fighting desktop notifications - You'll love it!<br />
        <input class="button" id="notify-me" value="Ok, off we go!" />
    </div>

    <img src="https://s3-eu-west-1.amazonaws.com/images.trustpilot.com/static/foosball/background.jpg" id="bg" class="bgwidth" />
    
    <header>
        <a href="@Url.Action("Index","Home")">
        <div id="app-title">
            <div class="logo-picture">
                <img src="https://s3-eu-west-1.amazonaws.com/images.trustpilot.com/static/foosball/icon_football.png" />
            </div>
            <div class="logo-text">
                @if (ViewBag.Settings.Environment.ToString() != "Production")
                {
                    @ViewBag.Settings.Environment.ToString()  
                }
                @ViewBag.Settings.Name
            </div>
        </div>
        </a>
        <nav>
            <div class="menu-arrow"></div>
            <ul id="main-menu">
                <li class="Home">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="Players">@Html.ActionLink("Scoreboard", "Index", "Players")</li>
                <li class="Matches">@Html.ActionLink("Matches", "Index", "Matches")</li>
                <li class="Stats">@Html.ActionLink("Stats", "Index", "Stats")</li>
                @if (Session["IsLoggedIn"].ToString().ToLower() == "true")
                {
                    if (Session["Admin"].ToString().ToLower() == "true")
                    {
                        <li class="Admin">@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }                           
                }
            </ul> 
        </nav>
        <div class="login-display">
            @Html.Partial("_LogOnPartial")
        </div>
    </header>

    <div id="page" class="@ViewContext.RouteData.Values["controller"] clearfix">
        <section id="main">
            @RenderBody()
        </section>
    </div>

    <footer>
        @RenderSection("Footer", false)
        @Html.ActionLink("Features", "Features", "Home", null, new { @id = "feature-link" })
    </footer>
        <!-- Deferred Javascript -->
        <script src="@Url.Content("~/Javascript/lib/jquery.signalR-1.0.0.min.js")"></script>
        <script src="/signalr/hubs"></script>
        <script src="@Url.Content("~/Javascript/FoosBall.js")"></script>
        <script src="@Url.Content("~/Javascript/FoosBall.js")"></script>
        <script src="@Url.Content("~/Javascript/Shared.js")"></script>
        @RenderSection("Javascript", false)
        @MiniProfiler.RenderIncludes()       
</body>
</html>
