@model Event
@{
    var winners = Model.Match.GetWinners();
    var winner1 = Model.Match.GetWinners().First();
    var losers = Model.Match.GetLosers();
    var loser1 = Model.Match.GetLosers().First();

    var date = TimeZoneInfo.ConvertTime(Model.Match.GameOverTime.ToUniversalTime(), TimeZoneInfo.Utc, TimeZoneInfo.FindSystemTimeZoneById("Romance Standard Time"));
}
<li>
    <a href="@Url.Action("Player","Stats", new {playerId = @winner1.Id })">@winner1.Name</a>
    @if (winners.Count > 1)
    {
        <text>& </text><a href="@Url.Action("Player","Stats", new {playerId = @Model.Match.GetWinners().Last().Id })">@Model.Match.GetWinners().Last().Name</a>
    }
    beat up
    <a href="@Url.Action("Player","Stats", new {playerId = @loser1.Id })">@loser1.Name</a>
    @if (losers.Count > 1)
    {
        <text>& </text><a href="@Url.Action("Player","Stats", new {playerId = @Model.Match.GetLosers().Last().Id })">@Model.Match.GetLosers().Last().Name</a>
    }
    
    @Math.Max(Model.Match.RedScore, Model.Match.BlueScore) - @Math.Min(Model.Match.RedScore, Model.Match.BlueScore)
    - 
    <time>
        @{ Html.RenderPartial("_SmartDateTime", date);}
    </time>
</li>