@model MatchTableViewModel
@{
    var currentUser = (Player)HttpContext.Current.Session["User"];
}   
<table id="pending-matches">
    <thead>
        <tr>
            <th class="delete">
                <div><img src="@Url.Content("Content/images/delete_15x15_grayscale.png")" alt="A delete button"/></div>
            </th>
            <th class="red team-names">Players</th>
            <th class="blue team-names">Players</th>
            <th class="resolve">
                <div><img src="@Url.Content("Content/images/checkmark_15x15_grayscale.png")" alt="A delete button"/></div>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.Matches)
        {
            <tr>
                <td class="delete">
                    @if ((currentUser != null && match.ContainsPlayer(currentUser.Id)) || (Session["Admin"] != null && Session["Admin"].ToString().ToLower() == "true"))
                    {
                        <a title="Delete the match" href="/Matches/Delete/@match.Id">
                            <div><img src="@Url.Content("Content/images/delete_15x15.png")" alt="A delete button"/></div>
                        </a>
                    }
                </td>

                @* Red Teams names and Nicknames *@
                <td class="red team-names @if (match.RedScore > match.BlueScore) { <text>winner</text> }">
                    <span class="names">
                        <a href="@Url.Action("Player","Stats", new {playerId = @match.RedPlayer1.Id })">@match.RedPlayer1.Name</a> <sup>@match.RedPlayer1.Rating.ToString("F0")</sup>
                        @if (match.CountRedPlayers() == 2)
                        {
                            <br/><a href="@Url.Action("Player","Stats", new {playerId = @match.RedPlayer2.Id })">@match.RedPlayer2.Name</a> <sup>@match.RedPlayer2.Rating.ToString("F0")</sup>
                        }
                    </span>
                    <span class="nicknames">
                        <a href="@Url.Action("Player","Stats", new {playerId = @match.RedPlayer1.Id })">@match.RedPlayer1.NickName</a> <sup>@match.RedPlayer1.Rating.ToString("F0")</sup>
                        @if (match.CountRedPlayers() == 2)
                        {
                            <br/><a href="@Url.Action("Player","Stats", new {playerId = @match.RedPlayer2.Id })">@match.RedPlayer2.NickName</a> <sup>@match.RedPlayer2.Rating.ToString("F0")</sup>
                        }
                    </span>
                </td>
                
                @* Blue Teams names and Nicknames *@
                <td class="blue team-names">
                    <span class="names">
                        <a href="@Url.Action("Player","Stats", new {playerId = @match.BluePlayer1.Id })">@match.BluePlayer1.Name</a> <sup>@match.BluePlayer1.Rating.ToString("F0")</sup>
                        @if (match.CountBluePlayers() == 2)
                        {
                            <br/><a href="@Url.Action("Player","Stats", new {playerId = @match.BluePlayer2.Id })">@match.BluePlayer2.Name</a> <sup>@match.BluePlayer2.Rating.ToString("F0")</sup>
                        }
                    </span>
                    <span class="nicknames">
                        <a href="@Url.Action("Player","Stats", new {playerId = @match.BluePlayer1.Id })">@match.BluePlayer1.NickName</a> <sup>@match.BluePlayer1.Rating.ToString("F0")</sup>
                        @if (match.CountBluePlayers() == 2)
                        {
                            <br/><a href="@Url.Action("Player","Stats", new {playerId = @match.BluePlayer2.Id })">@match.BluePlayer2.NickName</a> <sup>@match.BluePlayer2.Rating.ToString("F0")</sup>
                        }
                    </span>
                </td>

                <td class="resolve">
                    @if (currentUser != null && match.ContainsPlayer(currentUser.Id))
                    {
                        <a title="Resolve the match" href="Matches/SaveMatchResult/@match.Id">
                            <div><img src="@Url.Content("Content/images/checkmark_15x15.png")" alt="A delete button"/></div>
                        </a>
                    }
                </td>
            </tr>
       }
    </tbody>
</table>