@model PlayerBaseDataViewModel
@Html.HiddenFor(m => m.Player.Id)

<a href="http://www.gravatar.com"><img id="profile-gravatar" alt="Gravatar picture" src="@Html.GetGravatarEmailHash(Model.Player.Email)"/></a>
<br/>
<br/>
@{
    if (Model.Settings.EnableDomainValidation && !string.IsNullOrEmpty(Model.Player.Email))
    {
        Model.Player.Email = Regex.Replace(Model.Player.Email, "@" + Model.Settings.Domain, "");
    }
}

@Html.LabelFor(m => Model.Player.Email, "Email")
<br/>
@Html.TextBoxFor(m => m.Player.Email, new { @id= "Email", placeholder = "Email", autocapitalize = "off", autocorrect = "off", @class = Model.Settings.EnableDomainValidation ? "short" : "long"})
@if (Model.Settings.EnableDomainValidation)
{
    <string>@@</string>@Model.Settings.Domain
}
<br/><br/> 
@Html.LabelFor(m => Model.Player.Name)
@Html.TextBoxFor(m => Model.Player.Name, new { placeholder = "Name"})
<br/><br/>
@Html.LabelFor(m => Model.Player.NickName, "Nickname (max 5 char.)")
@Html.TextBoxFor(m => Model.Player.NickName, new { placeholder = "Nickname", maxlength = "5"})
<br/><br/>
@Html.LabelFor(m => Model.Player.Gender, "Gender")
@Html.DropDownListFor(m => Model.Player.Gender, Model.Genders)
<br/><br/>
<div class="editor-label">@Html.LabelFor(m => Model.Player.Password)</div>
<div class="editor-field">@Html.PasswordFor(m => Model.Player.Password, new { placeholder = "Password"})</div>
<br/>