@model MatchesViewModel
@using (Html.BeginForm("RegisterMatch", "Matches", FormMethod.Post))
{   
    <input type="button" class="button" id="open-submit-match-form" value="Create a Match" />
    
    <fieldset id="submit-match-form" class="closed">
        <div id="team-red-players" class="team">
            <div class="team-name">Red Team</div>
            <div class="form-input">
                <select class="select-player" id="red-player-1" name="red-player-1">
                    <option></option>
                    @foreach (var player in Model.SelectPlayers)
                    {
                        <option class="@player.CssClass" value="@player.Value">@player.Text</option>
                    }
                </select>
            </div>
            <br />
            <div class="form-input">
                <select class="select-player" id="red-player-2" name="red-player-2">
                    <option></option>
                    @foreach (var player in Model.SelectPlayers)
                    {
                        <option class="@player.CssClass" value="@player.Value">@player.Text</option>
                    }
                </select>
            </div>
        </div>

        <div class="vs">VS</div>

        <div id="team-blue-players" class="team">
            <div class="team-name">Blue Team</div>
            <div class="form-input">
                <select class="select-player" id="blue-player-1" name="blue-player-1">
                    <option></option>
                    @foreach (var player in Model.SelectPlayers)
                    {
                        <option class="@player.CssClass" value="@player.Value">@player.Text</option>
                    }
                </select>
            </div>
            <br />
            <div class="form-input">
                <select class="select-player" id="blue-player-2" name="blue-player-2">
                    <option></option>
                    @foreach (var player in Model.SelectPlayers)
                    {
                        <option class="@player.CssClass" value="@player.Value">@player.Text</option>
                    }
                </select>
            </div>
        </div>
        
        <div class="team-scores">
            <div id="team-results">
                <div class="form-input opponent" id="fighting-team-red">
                    @Html.TextBox("team-red-score", "0", new {@class = "team-score", placeholder = "0"}) 
                    <br/>
                    <input id="team-red-score-slider" class="score-slider" type="range" min="0" max="10" step="1" autocomplete="off" value="0">
                </div>
                <div class="form-input opponent" id="fighting-team-blue">
                    @Html.TextBox("team-blue-score", "0", new {@class = "team-score", placeholder = "0"}) 
                    <br/>
                    <input id="team-blue-score-slider" class="score-slider" type="range" min="0" max="10" step="1" autocomplete="off" value="0">
                </div>
            </div>
            <div class="form-button">
                <input type="submit" value="Submit score" class="submit-button button" id="submit-score-button"/>
            </div>
        </div>

        <div class="validation-message small All"></div>

    </fieldset>
}