@model FoosBall.Models.AllPlayerStatsAggregate
@{
    ViewBag.Title = "FoosBal Stats";
}
@section Javascript { <script async src="/Scripts/Stats.js"></script> }
@section Css{ <link rel="stylesheet" href="/Content/Stats.css"/>}

<fieldset id="all-players-statistics">
    <legend>Stats for all players</legend>

    <div class="label">Most Fighting Fighter</div>
    <div>@Model.MostFighting</div>
    
    <div class="label">Most Winning Fighter</div>
    <div>@Model.MostWinning</div>

    <div class="label">Most Losing Fighter</div>
    <div>@Model.MostLosing</div>
    
    <div class="label">Top Ranked Fighter</div>
    <div>@Model.TopRanked</div>
    
    <div class="label">Bottom Ranked Fighter</div>
    <div>@Model.BottomRanked</div>
    
    <div class="label">Winning streak (Most wins in a row)</div>
    <div>@Model.MostWinsInARow</div>
    
    <div class="label">Losing streak (Most losses in a row)</div>
    <div>@Model.MostLossesInARow</div>
    
    <div class="label">Highest Rating jump</div>
    <div>@Model.BiggestRatingWin</div>
    
    <div id="hover-tap"></div>
</fieldset>